.aux-window {
  width: 200px;
  padding: 10px 0px 0px 10px;
  vertical-align: top;
  text-align: left;
}

.item-panel {
  width: 200px;
  max-height: 290px;
  overflow-y: auto;
}

.action {
  width: 150px;
  height: 40px;
  margin: 3px 3px 3px 3px;
  background-color: rgb(230, 178, 25);
}
