td {
  border: 0px;
}

.action {
  width: 29%;
  height: 40px;
  margin: 3px 3px 3px 3px;
  background-color: rgb(102, 217, 255);
  border-radius: 5px;
  border: 2px solid rgb(204, 242, 255);
  color: white;
  font-size: 14px;
}

ul,
ol,
li {
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}

tr {
  vertical-align: top;
  width: 100%;
}

.ui {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 12px;
}

.ui-row1 {
  display: flex;
}

.ui-row2 {
  display: flex;
}

.ui-row3 {
  display: flex;
}

.map {
  width: 30%;
  height: 500px;
}

.itembar {
  width: 30%;
  height: 500px;
}

.statusbar {
  width: 30%;
  height: 100px;
}

.actionbar {
  width: 30%;
}

.alertbar {
  width: 60%;
}

.itemlist {
  width: 33%;
  text-align: center;
  overflow-y: auto;
  min-height: 500px;
  max-height: 500px;
}

.itemlists {
  display: flex;
  min-height: 500px;
  max-height: 500px;
  border-radius: 5px;
  background-color: rgb(217, 250, 237);
  padding: 10px;
}
