.window {
  width: 66%;
  margin: 20px;
  padding: 20px;
  border: 3px green solid;
  border-radius: 5px;
}

.window-aux {
  width: 200px;
  padding: 10px 0px 0px 10px;
  vertical-align: 100%;
  text-align: left;
  margin: 20px;
}

.window-aux-alert {
  width: 200px;
  padding: 0px;
  vertical-align: 100%;
  text-align: left;
  margin: 20px;
  vertical-align: bottom;
}

.item-panel {
  width: 200px;
  max-height: 290px;
  overflow-y: auto;
}

.action {
  width: 29%;
  height: 40px;
  margin: 3px 3px 3px 3px;
  background-color: rgb(102, 217, 255);
  border-radius: 5px;
  border: 2px solid rgb(204, 242, 255);
  color: white;
}
